.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 0fr);
}


.center {
  grid-column: 1/3;
  grid-row: 1;
  justify-self: center;
  text-align: center;
}


.card {
  border-radius: 2px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button {
  color : white;
  background-color: blue;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button:not([disabled]):hover {
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
}

.login {
  width: 300px;
}

.input {
  margin-top: 10px;
}

#confirmationMessage{
	text-align: center;
	width: 300px;
}

.bot {
  width: 400px;
}

.wrap {
  word-wrap: break-word;
}

.current-bot {
  max-width: 400px;
}
