#bot {
	width: 50%;
}
#center {
	text-align:center;
}

input{
	width:250px;
}

#block {
	width: 42%;
}


#leftWrapper {
  margin: 0px; /* remove all margins to fit two divs in the container */
  display: inline-block; /* display block elements in one line */
}
#rightWrapper {
  margin: 0px; /* remove all margins to fit two divs in the container */
  display: inline-block; /* display block elements in one line */
}

#master {
	width:100%;
}