<link rel="stylesheet" type="text/css" href="client/css/app.css">
<div class="wrapper" data-ng-controller="bot" ng-init="init(); initBotView()">
  <div class="center card current-bot" ng-show="botRunning">
    <h3 ng-bind="currentBotText"></h3>
    <b>{{instagramUsernameText}}:</b> {{instagramUsername}} <br>
    <div class="wrap">
      <b>{{tagsConfirmationText}}:</b> {{tags}}
    </div>
    <b>{{likesPerHourText}}:</b> {{likesPerDay}}
    <span ng-bind="multiplyValueByHours(likesPerDay)"></span><br>
    <b>{{maxLikesForOneTagConfirmationText}}:</b> {{maxLikesForOneTag}}<br>
    <b>{{followsPerHourText}}:</b> {{followsPerDay}}
    <span ng-bind="multiplyValueByHours(followsPerDay)"></span><br>
    <b>{{unfollowsPerHourText}}:</b> {{unfollowsPerDay}}
    <span ng-bind="multiplyValueByHours(unfollowsPerDay)"></span><br>

    <div>
      <button type="button" class="btn btn-danger" ng-click="stopThisBot()">
        <div ng-bind="stopThisBotText"></div>
      </button>
    </div>
  </div>
  <div class="center card bot" ng-show="!botRunning">
    <div ng-show="!showConfirmation">
      <h3 ng-bind="panelHeadingText"></h3>
      <div class="input">
          <div ng-show="instagramUsername !== ''">
              <h4 ng-bind="instagramUsernameText"></h4>
          </div>
          <div readonly type="text" id="instagramUsername" placeholder="{{instagramUsernameText}}" ng-bind="instagramUsername"></div>
      </div>
      <div class="input wrap">
        <div ng-show="tags !== ''">
          <h4 ng-bind="tagsText"></h4>
        </div>
        <div readonly type="textbox" id="tags" placeholder="{{tagsText}}" ng-bind="tags"></div>
      </div>
      <div class="input">
        <div ng-show="likesPerDay !== null">
          <h4 ng-bind="likesPerHourText"></h4>
        </div>
        <div readonly type="number" min="0" id="likesPerDay" placeholder="{{likesPerHourText}}" ng-bind="likesPerDay">
        </div>
      </div>
      <div class="input">
        <div ng-show="maxLikesForOneTag !== null">
          <h4 ng-bind="maxLikesForOneTagText"></h4>
        </div>
        <div readonly type="number" min="0" id="maxLikesForOneTag" placeholder="{{maxLikesForOneTagText}}" ng-bind="maxLikesForOneTag"></div>
      </div>
      <div class="input">
        <div ng-show="followsPerDay !== null">
          <h4 ng-bind="followsPerHourText"></h4>
        </div>
        <div readonly type="number" min="0" id="followsPerDay" placeholder="{{followsPerHourText}}" ng-bind="followsPerDay"></div>
      </div>
      <div class="input">
        <div ng-show="unfollowsPerDay !== null">
          <h4 ng-bind="unfollowsPerHourText"></h4>
        </div>
        <div readonly type="number" min="0" id="unfollowsPerDay" placeholder="{{unfollowsPerHourText}}" ng-bind="unfollowsPerDay"></div>
      </div>
      <div class="input">
        <div ng-show="instagramPassword !== '' && instagramPassword !== undefined">
          <div ng-bind="instagramPasswordText"></div>
        </div>
        <input type="text" id="instagramPassword" placeholder="{{instagramPasswordText}}" ng-model="instagramPassword"/>
      </div>
      <div class="input" ng-show="!showConfirmation">
        <button type="button" class="btn btn-primary" ng-click="startBot()">
          <div ng-bind="startBotButtonText"></div>
        </button>
      </div>
    </div>
    <div ng-show="showConfirmation">
        <div class="alert alert-danger wrap" id="confirmationMessage" role="alert">
            <div ng-bind="confirmBotMessage"></div>
        </div>
        <div class="alert alert-info wrap" id="confirmationMessage" role="alert">
            Things to note: if you input<br> <b>laneyandjuliet,crowderfam2016</b><br> as your tag input, it should display in the confirmation as <br><b>["laneyandjuliet","crowderfam2016"]</b>
        </div>
        <div class="card">

          <h3 ng-bind="confirmMessage"></h3>
          <b>{{instagramUsernameText}}:</b> {{instagramUsername}} <br>
          <b>{{instagramPasswordConfirmationText}}:</b> {{instagramPassword}}<br>
          <b>{{tagsConfirmationText}}:</b>
          <div class="wrap">
            {{tags}}
          </div>
          <b>{{likesPerHourText}}:</b> {{likesPerDay}}
          <span ng-bind="multiplyValueByHours(likesPerDay)"></span><br>
          <b>{{maxLikesForOneTagConfirmationText}}:</b> {{maxLikesForOneTag}}<br>
          <b>{{followsPerHourText}}:</b> {{followsPerDay}}
          <span ng-bind="multiplyValueByHours(followsPerDay)"></span><br>
          <b>{{unfollowsPerHourText}}:</b> {{unfollowsPerDay}}
          <span ng-bind="multiplyValueByHours(unfollowsPerDay)"></span><br>
          <div>
            <button type="button" class="btn btn-primary" ng-click="sendBotToServer()">
              <div ng-bind="officialBotStartText"></div>
            </button>
            <button type="button" class="btn btn-danger" ng-click="showConfirmation = false">
              <div ng-bind="goBackToEditText"></div>
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
